<div class="articles-item">
    <div class="articles-item-image">
        <img src="{{ 'assets/images/artc-large.jpg'|theme }}" alt="">
    </div>

    <div class="articles-item-content">
        <p class="data">August 31, 2018</p>
        <h4>What If New Job Isn't Working</h4>
        <p>Bad Luck or Good Luck? Here’s an
            Maureen Nelson. Maureen
            worked for Employer A,...</p>
        <a class="link" href="/article/1">Read more</a>
    </div>
</div>
<div class="articles-item">
    <div class="articles-item-image">
        <img src="{{ 'assets/images/artc-large.jpg'|theme }}" alt="">
    </div>

    <div class="articles-item-content">
        <p class="data">August 31, 2018</p>
        <h4>What If New Job Isn't Working</h4>
        <p>Bad Luck or Good Luck? Here’s an
            Maureen Nelson. Maureen
            worked for Employer A,...</p>
        <a class="link" href="/article/1">Read more</a>
    </div>
</div>
<div class="articles-item">
    <div class="articles-item-image">
        <img src="{{ 'assets/images/artc-large.jpg'|theme }}" alt="">
    </div>

    <div class="articles-item-content">
        <p class="data">August 31, 2018</p>
        <h4>What If New Job Isn't Working</h4>
        <p>Bad Luck or Good Luck? Here’s an
            Maureen Nelson. Maureen
            worked for Employer A,...</p>
        <a class="link" href="/article/1">Read more</a>
    </div>
</div>
<div class="articles-item">
    <div class="articles-item-image">
        <img src="{{ 'assets/images/artc-large.jpg'|theme }}" alt="">
    </div>

    <div class="articles-item-content">
        <p class="data">August 31, 2018</p>
        <h4>What If New Job Isn't Working</h4>
        <p>Bad Luck or Good Luck? Here’s an
            Maureen Nelson. Maureen
            worked for Employer A,...</p>
        <a class="link" href="/article/1">Read more</a>
    </div>
</div>
<div class="articles-item">
    <div class="articles-item-image">
        <img src="{{ 'assets/images/artc-large.jpg'|theme }}" alt="">
    </div>

    <div class="articles-item-content">
        <p class="data">August 31, 2018</p>
        <h4>What If New Job Isn't Working</h4>
        <p>Bad Luck or Good Luck? Here’s an
            Maureen Nelson. Maureen
            worked for Employer A,...</p>
        <a class="link" href="/article/1">Read more</a>
    </div>
</div>
<div class="articles-item">
    <div class="articles-item-image">
        <img src="{{ 'assets/images/artc-large.jpg'|theme }}" alt="">
    </div>

    <div class="articles-item-content">
        <p class="data">August 31, 2018</p>
        <h4>What If New Job Isn't Working</h4>
        <p>Bad Luck or Good Luck? Here’s an
            Maureen Nelson. Maureen
            worked for Employer A,...</p>
        <a class="link" href="/article/1">Read more</a>
    </div>
</div>
