<div  class="datting-sites-list-item">
    <div ><img src="{{ 'assets/images/logo_tipsy-dating.png'|theme }}" alt="" class="site-logo"></div>
    <div  class="description"><p >Tons of matches based <br
    > on your preferences</p></div>
    <div ><p >Type: <span >Full time</span></p>
        <p >Time: <span >2 mounth ago</span></p></div>
    <div >
        <div class="stars">
            {% content "stars.htm" %}
        </div>
        <span >Rate it! (11105 votes)</span></div>
    <div  class="mark">
        <p >9.8</p>
        <a  href="/review" class=""><span >read review</span></a>
    </div>
    <div  class="visit-site">
        <button >Visit Site</button>
    </div>
</div>
<div class="datting-sites-list-item">
    <div><img src="{{ 'assets/images/logo_tipsy-dating.png'|theme }}" alt="" class="site-logo"></div>
    <div class="description"><p >Tons of matches based <br
    > on your preferences</p></div>
    <div><p >Type: <span >Full time</span></p>
        <p >Time: <span >2 mounth ago</span></p></div>
    <div>
        <div class="stars">
            {% content "stars.htm" %}
        </div>
        <span >Rate it! (11105 votes)</span></div>
    <div class="mark">
        <p>9.8</p>
        <a href="/review" class=""><span >read review</span></a>
    </div>
    <div class="visit-site">
        <button >Visit Site</button>
    </div>
</div>
<div class="datting-sites-list-item">
    <div><img src="{{ 'assets/images/logo_tipsy-dating.png'|theme }}" alt="" class="site-logo"></div>
    <div class="description"><p >Tons of matches based <br
    > on your preferences</p></div>
    <div><p >Type: <span >Full time</span></p>
        <p >Time: <span >2 mounth ago</span></p></div>
    <div>
        <div class="stars">
            {% content "stars.htm" %}
        </div>
        <span >Rate it! (11105 votes)</span></div>
    <div class="mark">
        <p>9.8</p>
        <a href="/review" class=""><span >read review</span></a>
    </div>
    <div class="visit-site">
        <button >Visit Site</button>
    </div>
</div>
<div class="datting-sites-list-item">
    <div><img src="{{ 'assets/images/logo_tipsy-dating.png'|theme }}" alt="" class="site-logo"></div>
    <div class="description"><p >Tons of matches based <br
    > on your preferences</p></div>
    <div><p >Type: <span >Full time</span></p>
        <p >Time: <span >2 mounth ago</span></p></div>
    <div>
        <div class="stars">
            {% content "stars.htm" %}
        </div>
        <span >Rate it! (11105 votes)</span></div>
    <div class="mark">
        <p>9.8</p>
        <a href="/review" class=""><span >read review</span></a>
    </div>
    <div class="visit-site">
        <button >Visit Site</button>
    </div>
</div>
<div class="datting-sites-list-item">
    <div><img src="{{ 'assets/images/logo_tipsy-dating.png'|theme }}" alt="" class="site-logo"></div>
    <div class="description"><p >Tons of matches based <br
    > on your preferences</p></div>
    <div><p >Type: <span >Full time</span></p>
        <p >Time: <span >2 mounth ago</span></p></div>
    <div>
        <div class="stars">
            {% content "stars.htm" %}
        </div>
        <span >Rate it! (11105 votes)</span></div>
    <div class="mark">
        <p>9.8</p>
        <a href="/review" class=""><span >read review</span></a>
    </div>
    <div class="visit-site">
        <button >Visit Site</button>
    </div>
</div>
<div class="datting-sites-list-item">
    <div><img src="{{ 'assets/images/logo_tipsy-dating.png'|theme }}" alt="" class="site-logo"></div>
    <div class="description"><p >Tons of matches based <br
    > on your preferences</p></div>
    <div><p >Type: <span >Full time</span></p>
        <p >Time: <span >2 mounth ago</span></p></div>
    <div>
        <div class="stars">
            {% content "stars.htm" %}
        </div>
        <span >Rate it! (11105 votes)</span></div>
    <div class="mark">
        <p>9.8</p>
        <a href="/review" class=""><span >read review</span></a>
    </div>
    <div class="visit-site">
        <button >Visit Site</button>
    </div>
</div>
<div class="datting-sites-list-item">
    <div><img src="{{ 'assets/images/logo_tipsy-dating.png'|theme }}" alt="" class="site-logo"></div>
    <div class="description"><p >Tons of matches based <br
    > on your preferences</p></div>
    <div><p >Type: <span >Full time</span></p>
        <p >Time: <span >2 mounth ago</span></p></div>
    <div>
        <div class="stars">
            {% content "stars.htm" %}
        </div>
        <span >Rate it! (11105 votes)</span></div>
    <div class="mark">
        <p>9.8</p>
        <a href="/review" class=""><span >read review</span></a>
    </div>
    <div class="visit-site">
        <button >Visit Site</button>
    </div>
</div>
<div class="datting-sites-list-item">
    <div><img src="{{ 'assets/images/logo_tipsy-dating.png'|theme }}" alt="" class="site-logo"></div>
    <div class="description"><p >Tons of matches based <br
    > on your preferences</p></div>
    <div><p >Type: <span >Full time</span></p>
        <p >Time: <span >2 mounth ago</span></p></div>
    <div>
        <div class="stars">
            {% content "stars.htm" %}
        </div>
        <span >Rate it! (11105 votes)</span></div>
    <div class="mark">
        <p>9.8</p>
        <a href="/review" class=""><span >read review</span></a>
    </div>
    <div class="visit-site">
        <button >Visit Site</button>
    </div>
</div>
<div class="datting-sites-list-item">
    <div><img src="{{ 'assets/images/logo_tipsy-dating.png'|theme }}" alt="" class="site-logo"></div>
    <div class="description"><p >Tons of matches based <br
    > on your preferences</p></div>
    <div><p >Type: <span >Full time</span></p>
        <p >Time: <span >2 mounth ago</span></p></div>
    <div>
        <div class="stars">
            {% content "stars.htm" %}
        </div>
        <span >Rate it! (11105 votes)</span></div>
    <div class="mark">
        <p>9.8</p>
        <a href="/review" class=""><span >read review</span></a>
    </div>
    <div class="visit-site">
        <button >Visit Site</button>
    </div>
</div>
<div class="datting-sites-list-item">
    <div><img src="{{ 'assets/images/logo_tipsy-dating.png'|theme }}" alt="" class="site-logo"></div>
    <div class="description"><p >Tons of matches based <br
    > on your preferences</p></div>
    <div><p >Type: <span >Full time</span></p>
        <p >Time: <span >2 mounth ago</span></p></div>
    <div>
        <div class="stars">
            {% content "stars.htm" %}
        </div>
        <span >Rate it! (11105 votes)</span></div>
    <div class="mark">
        <p>9.8</p>
        <a href="/review" class=""><span >read review</span></a>
    </div>
    <div class="visit-site">
        <button >Visit Site</button>
    </div>
</div>
<div class="datting-sites-list-item">
    <div><img src="{{ 'assets/images/logo_tipsy-dating.png'|theme }}" alt="" class="site-logo"></div>
    <div class="description"><p >Tons of matches based <br
    > on your preferences</p></div>
    <div><p >Type: <span >Full time</span></p>
        <p >Time: <span >2 mounth ago</span></p></div>
    <div>
        <div class="stars">
            {% content "stars.htm" %}
        </div>
        <span >Rate it! (11105 votes)</span></div>
    <div class="mark">
        <p>9.8</p>
        <a href="/review" class=""><span >read review</span></a>
    </div>
    <div class="visit-site">
        <button >Visit Site</button>
    </div>
</div>
<div class="datting-sites-list-item">
    <div><img src="{{ 'assets/images/logo_tipsy-dating.png'|theme }}" alt="" class="site-logo"></div>
    <div class="description"><p >Tons of matches based <br
    > on your preferences</p></div>
    <div><p >Type: <span >Full time</span></p>
        <p >Time: <span >2 mounth ago</span></p></div>
    <div>
        <div class="stars">
            {% content "stars.htm" %}
        </div>
        <span >Rate it! (11105 votes)</span></div>
    <div class="mark">
        <p>9.8</p>
        <a href="/review" class=""><span >read review</span></a>
    </div>
    <div class="visit-site">
        <button >Visit Site</button>
    </div>
</div>
<div class="datting-sites-list-item">
    <div><img src="{{ 'assets/images/logo_tipsy-dating.png'|theme }}" alt="" class="site-logo"></div>
    <div class="description"><p >Tons of matches based <br
    > on your preferences</p></div>
    <div><p >Type: <span >Full time</span></p>
        <p >Time: <span >2 mounth ago</span></p></div>
    <div>
        <div class="stars">
            {% content "stars.htm" %}
        </div>
        <span >Rate it! (11105 votes)</span></div>
    <div class="mark">
        <p>9.8</p>
        <a href="/review" class=""><span >read review</span></a>
    </div>
    <div class="visit-site">
        <button >Visit Site</button>
    </div>
</div>
<div class="datting-sites-list-item">
    <div><img src="{{ 'assets/images/logo_tipsy-dating.png'|theme }}" alt="" class="site-logo"></div>
    <div class="description"><p >Tons of matches based <br
    > on your preferences</p></div>
    <div><p >Type: <span >Full time</span></p>
        <p >Time: <span >2 mounth ago</span></p></div>
    <div>
        <div class="stars">
            {% content "stars.htm" %}
        </div>
        <span >Rate it! (11105 votes)</span></div>
    <div class="mark">
        <p>9.8</p>
        <a href="/review" class=""><span >read review</span></a>
    </div>
    <div class="visit-site">
        <button >Visit Site</button>
    </div>
</div>
<div class="datting-sites-list-item">
    <div><img src="{{ 'assets/images/logo_tipsy-dating.png'|theme }}" alt="" class="site-logo"></div>
    <div class="description"><p >Tons of matches based <br
    > on your preferences</p></div>
    <div><p >Type: <span >Full time</span></p>
        <p >Time: <span >2 mounth ago</span></p></div>
    <div>
        <div class="stars">
            {% content "stars.htm" %}
        </div>
        <span >Rate it! (11105 votes)</span></div>
    <div class="mark">
        <p>9.8</p>
        <a href="/review" class=""><span >read review</span></a>
    </div>
    <div class="visit-site">
        <button >Visit Site</button>
    </div>
</div>
<div class="datting-sites-list-item">
    <div><img src="{{ 'assets/images/logo_tipsy-dating.png'|theme }}" alt="" class="site-logo"></div>
    <div class="description"><p >Tons of matches based <br
    > on your preferences</p></div>
    <div><p >Type: <span >Full time</span></p>
        <p >Time: <span >2 mounth ago</span></p></div>
    <div>
        <div class="stars">
            {% content "stars.htm" %}
        </div>
        <span >Rate it! (11105 votes)</span></div>
    <div class="mark">
        <p>9.8</p>
        <a href="/review" class=""><span >read review</span></a>
    </div>
    <div class="visit-site">
        <button >Visit Site</button>
    </div>
</div>
