<footer>
    <a href="{{ 'home'|page }}" class="logo router-link-exact-active router-link-active">
        <img src="{{ 'assets/images/logo/logo.png'|theme }}" alt="">
        <img src="{{ 'assets/images/logo/logo-text.png'|theme }}" alt="">
    </a>
    <div class="footer-links">
        <div class="footer-links-item">
            <p >Title</p>
            <a href="#">Usefull link</a>
            <a href="#">Usefull link</a>
            <a href="#">Usefull link</a>
        </div>
        <div class="footer-links-item">
            <p>Title</p>
            <a href="#">Usefull link</a>
            <a href="#">Usefull link</a>
            <a href="#">Usefull link</a>
        </div>
        <div class="footer-links-item">
            <p>Title</p>
            <a href="#">Usefull link</a>
            <a href="#">Usefull link</a>
            <a href="#">Usefull link</a>
        </div>
    </div>
    <div  class="copyright">Copyright © 2009 - 2018 Natural Intelligence Ltd. All Rights Reserved.</div>
</footer>
