{% put styles %}
<link href="{{ 'assets/css/top-dating-sites.css'|theme }}" rel="stylesheet" />
{% endput %}
<div class="top-datting-sites-list-item">
    <div class="top-datting-sites-list-item-logo">
        <img src="{{ 'assets/images/logo_tipsy-dating.png'|theme }}" alt="" class="site-logo">
    </div>
    <div>
        <p class="mark">9.8</p>
        <div class="stars">
            {% content "stars.htm" %}
        </div>
    </div>

    <div class="top-datting-sites-list-button">
        <button>Visit Site</button>
        <span>read review</span>
    </div>
</div>
<div class="top-datting-sites-list-item">
    <div class="top-datting-sites-list-item-logo">
        <img src="{{ 'assets/images/logo_tipsy-dating.png'|theme }}" alt="" class="site-logo">
    </div>
    <div>
        <p class="mark">9.8</p>
        <div class="stars">
            {% content "stars.htm" %}
        </div>
    </div>

    <div class="top-datting-sites-list-button">
        <button>Visit Site</button>
        <span>read review</span>
    </div>
</div>
<div class="top-datting-sites-list-item">
    <div class="top-datting-sites-list-item-logo">
        <img src="{{ 'assets/images/logo_tipsy-dating.png'|theme }}" alt="" class="site-logo">
    </div>
    <div>
        <p class="mark">9.8</p>
        <div class="stars">
            {% content "stars.htm" %}
        </div>
    </div>

    <div class="top-datting-sites-list-button">
        <button>Visit Site</button>
        <span>read review</span>
    </div>
</div>
<div class="top-datting-sites-list-item">
    <div class="top-datting-sites-list-item-logo">
        <img src="{{ 'assets/images/logo_tipsy-dating.png'|theme }}" alt="" class="site-logo">
    </div>
    <div>
        <p class="mark">9.8</p>
        <div class="stars">
            {% content "stars.htm" %}
        </div>
    </div>

    <div class="top-datting-sites-list-button">
        <button>Visit Site</button>
        <span>read review</span>
    </div>
</div>
<div class="top-datting-sites-list-item">
    <div class="top-datting-sites-list-item-logo">
        <img src="{{ 'assets/images/logo_tipsy-dating.png'|theme }}" alt="" class="site-logo">
    </div>
    <div>
        <p class="mark">9.8</p>
        <div class="stars">
            {% content "stars.htm" %}
        </div>
    </div>

    <div class="top-datting-sites-list-button">
        <button>Visit Site</button>
        <span>read review</span>
    </div>
</div>
<div class="top-datting-sites-list-item">
    <div class="top-datting-sites-list-item-logo">
        <img src="{{ 'assets/images/logo_tipsy-dating.png'|theme }}" alt="" class="site-logo">
    </div>
    <div>
        <p class="mark">9.8</p>
        <div class="stars">
            {% content "stars.htm" %}
        </div>
    </div>

    <div class="top-datting-sites-list-button">
        <button>Visit Site</button>
        <span>read review</span>
    </div>
</div>
<div class="top-datting-sites-list-item">
    <div class="top-datting-sites-list-item-logo">
        <img src="{{ 'assets/images/logo_tipsy-dating.png'|theme }}" alt="" class="site-logo">
    </div>
    <div>
        <p class="mark">9.8</p>
        <div class="stars">
            {% content "stars.htm" %}
        </div>
    </div>

    <div class="top-datting-sites-list-button">
        <button>Visit Site</button>
        <span>read review</span>
    </div>
</div>
