aside h4{
    text-align: center;
}
.top-datting-sites-list-item .stars{
    display: flex;
}

.top-datting-sites-list-item .stars svg{
    width: 15px;
    height: 15px;
    margin: 0 1px;
}

.top-datting-sites-list-item{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 0px 0px 13px rgba(118,118,118, 0.15);
    border-radius: 4px;
    border-left: 2px solid #f6236b;
    text-align: left;
    color: #0f1d44;
    padding: 28px 10px 22px;
    box-sizing: border-box;
    background: #fff;
    width: 362px;
    margin-bottom: 20px;
}

.top-datting-sites-list-item .mark{
    text-align: center;
    color: #0f1d44;
    font-size: 36px;
    margin: 0;
    margin-bottom: 9px;
}

.top-datting-sites-list-button{
    text-align: center;
}


.top-datting-sites-list-button button{
    border: 1px solid #f9216b;
    color: #f9216b;
    font-size: 16px;
    border-radius: 34px;
    background: none;
    width: 116px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-datting-sites-list-button span{
    font-size: 12px;
    color: #758696;
    margin-top: 7px;
    display: block;
}

@media screen and (max-width: 480px){

    .top-datting-sites-list-item{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .top-datting-sites-list-item>div{
        margin: 5px auto;
    }
    aside{
        width: 100%;
    }

}
